<style>
    .ptm-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .ptm-map {
        width: 100%;
        height: 100%;
    }

    .ptm-sphere {
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute; 
        top: 2%; 
        right: 2%; 
        z-index: 1000;
    }
</style>
    
<div data-bind="template: { afterRender: onPtmViewerRendered }">
    <div id="ptmViewer" style="width: 100%; height: 600px; margin: 20px 0; border: 1px solid #ccc;"></div>
</div>