{% extends "views/report-templates/default.htm" %}
{% load i18n %}
{% block body %}
<style>
    .ptm-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .ptm-map {
        width: 100%;
        height: 100%;
    }

    .ptm-sphere {
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute; 
        top: 2%; 
        right: 2%; 
        z-index: 1000;
    }

    .rotate-button {
        width: 35px;
        height: 35px;
        font-size: large;

        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
    }

    .rotate-button.right-highlight {
        border-right: 5px solid #0059b3;
    }

    .rotate-button.bottom-highlight {
        border-bottom: 5px solid #0059b3;
    }

    .rotate-button.left-highlight {
        border-left: 5px solid #0059b3;
    }
</style>
    <h2>Image Viewer Reportv2</h2>

    <div data-bind="template: { afterRender: onPtmViewerRendered }">
        <div id="ptmViewer" style="width: 100%; height: 500px; margin: 20px 0; border: 1px solid #ccc;"></div>
    </div>

    <!--ko if: hasProvisionalData() && (editorContext === false) -->
    <div class="report-provisional-flag">{% trans 'This resource has provisional edits (not displayed in this report) that are pending review' %}</div>
    <!--/ko-->
    <!--ko if: hasProvisionalData() && (editorContext === true && report.userisreviewer === true) -->
    <div class="report-provisional-flag">{% trans 'This resource has provisional edits (not displayed in this report) that are pending review' %}</div>
    <!--/ko-->
    <!--ko if: hasProvisionalData() && (editorContext === true && report.userisreviewer === false) -->
    <div class="report-provisional-flag">{% trans 'This resource has provisional edits that are pending review' %}</div>
    <!--/ko-->

    <div class="rp-report-section relative rp-report-section-root">
        <div class="rp-report-section-title">
            <!-- ko foreach: { data: report.cards, as: 'card' } -->
                <!-- ko if: card && card.tiles && ko.unwrap(card.tiles).length > 0 -->
                <!-- ko if: $index() !== 0 --><hr class="rp-tile-separator"><!-- /ko -->
                <div class="rp-card-section">
                    <!-- ko component: {
                        name: card.model && card.model.cardComponentLookup && card.model.component_id() ? card.model.cardComponentLookup[card.model.component_id()].componentname : 'default-card',
                        params: {
                            state: 'report',
                            preview: $parent.report.preview,
                            card: card,
                            pageVm: $root,
                            hideEmptyNodes: $parent.hideEmptyNodes
                        }
                    } --> <!-- /ko -->
                </div>
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
{% endblock body %}